<style>
header			
{ 
background: #1e1e1e; 
border-bottom: 2px solid #aaa;
height:100px;
}
header h1  	
{ 
color: #6f6f6f; 
margin: 0 0 3px; 
padding: 20px 18px 0; 
background: #1e1e1e;  
border-bottom: 2px solid #aaa;
font: 30px Arial Black, sans-serif;
}
header h2  	
{ 
color: #1263e5; 
margin: auto; 
padding: 5px 5px 5px 0px; 
background: #1e1e1e;  
border-top: 2px solid #aaa;
font: 12px Arial Black, sans-serif;
}
header p		
{ 
color: #ccc; 
font-size: 11px; 
font-weight: bold; 
padding: 0 18px; 
}
body
{
background-image:url('/media/background.jpg');
background-color:000000;
background-repeat:no-repeat;
background-position:center;
background-attachment:fixed;
background-size: 100% 100%;
}
ul
{
list-style-type:none;
margin:0;
padding:0;
padding-top:3px;
padding-bottom:0px;
}
li
{
display:inline;
margin: auto;
}
li a:link,a:visited
{
font-weight:bold;
color:#6f6f6f;
background-color:#1e1e1e;
text-align:center;
padding:6px;
text-decoration:none;
text-transform:uppercase;
}
bl a:link,a:visited
{
font-weight:bold;
color:#6f6f6f;
background-color:#1e1e1e;
text-align:center;
padding:6px;
width: 160px;
text-decoration:none;
text-transform:uppercase;
}
li a:hover,a:active
{
background-color:#ffffff;
}
bl a:hover,a:active
{
background-color:#ffffff;
width:160px;
}
bl
{
display:block;
font-weight:bold;
font:Arial Black, sans-serif;
color:#6f6f6f;
background-color:#1e1e1e;
width:160px;
text-align:center;
padding:7px;
text-decoration:none;
text-transform:uppercase;
margin:0;
margin-bottom:0;

}
he
{
display:block;
font-weight:bold;
font-size:150%;
font:Arial Black, sans-serif;
color:#6f6f6f;
width:160px;
text-align:center;
padding:7px;
text-decoration:underline;
background-color:#1e1e1e;
text-transform:uppercase;
}
img {
    max-width: 100%;
    height: auto;
	display: block;
    margin: auto;
}
.right {
    position: absolute;
    right: 0px;
    /*width: 300px;
    border: 3px solid #73AD21;*/
    padding: 10px;
}
.left {
    position: absolute;
    left: 0px;
    /*width: 300px;
    border: 3px solid #73AD21;*/
    padding: 10px;
}
.top{
	position: absolute;
	top: 0px;
	padding: 10px;
}
nav                     
{ 
float: right; 
padding:0px; 
margin:auto;
}
.floating-meny {
    display: inline-block;
    margin: auto; 
}
</style>