<style>
header			
{ 
background: #F88FB0; 
border-bottom: 2px solid #aaa;
height:100px;
}
header h1  	
{ 
color: #B01455; 
margin: 0 0 3px; 
padding: 20px 18px 0; 
background: #F88FB0;  
font: 30px Arial Black, sans-serif;
border-bottom: 2px solid #aaa;
}
header p		
{ 
color: #ccc; 
font-size: 11px; 
font-weight: bold; 
padding: 0 18px; 
}
table, th, td 
{
border: 1px solid black;
border-collapse: collapse;
padding-left: 5px;
padding-right: 5px;
}
body
{
background-image:url('/media/backgroundlasandra.jpg');
background-color:000000;
background-repeat:no-repeat;
background-position:center;
background-attachment:fixed;
background-size: 100% 100%;
}
ul
{
list-style-type:none;
margin:2;
padding:0;
padding-top:6px;
padding-bottom:6px;
}
li
{
display:inline;
}
a:link,a:visited
{
font-weight:bold;
color:#B01455;
background-color:#F88FB0;
text-align:center;
padding:6px;
text-decoration:none;
text-transform:uppercase;
}
a:hover,a:active
{
background-color:#F2C8D6;
}
bl
{
display:block;
font-weight:bold;
font:Arial Black, sans-serif;
color:#B01455;
background-color:#F88FB0;
width:160px;
text-align:center;
padding:7px;
text-decoration:none;
text-transform:uppercase;
}
he
{
display:block;
font-weight:bold;
font-size:150%;
font:Arial Black, sans-serif;
color:#B01455;
width:160px;
text-align:center;
padding:7px;
text-decoration:underline;
background-color:#F88FB0;
text-transform:uppercase;
}
img {
    max-width: 100%;
    height: auto;
	display: block;
    margin: auto;
}
h2
{
color: #B01455; 
font-size: 25px; 
background-color:#F88FB0;
text-decoration:underline;
font-weight: bold; 
padding: 0 10px;
}
</style>