<style>
header			
{ 
background: #1e1e1e; 
border-bottom: 2px solid #aaa;
height:100px;
}
header h1  	
{ 
color: #6f6f6f; 
margin: 0 0 3px; 
padding: 20px 18px 0; 
background: #1e1e1e;  
border-bottom: 2px solid #aaa;
font: 30px Arial Black, sans-serif;
}
header p		
{ 
color: #ccc; 
font-size: 11px; 
font-weight: bold; 
padding: 0 18px; 
}
body
{
background-image:url('/media/background.jpg');
background-color:000000;
background-repeat:no-repeat;
background-position:center;
background-attachment:fixed;
background-size: 100% 100%;
}
ul
{
list-style-type:none;
margin:2;
padding:0;
padding-top:6px;
padding-bottom:6px;
}
li
{
display:inline;
}
a:link,a:visited
{
font-weight:bold;
color:#6f6f6f;
background-color:#1e1e1e;
text-align:center;
padding:6px;
text-decoration:none;
text-transform:uppercase;
}
a:hover,a:active
{
background-color:#ffffff;
}
bl
{
display:block;
font-weight:bold;
font:Arial Black, sans-serif;
color:#6f6f6f;
background-color:#1e1e1e;
width:160px;
text-align:center;
padding:7px;
text-decoration:none;
text-transform:uppercase;
}
he
{
display:block;
font-weight:bold;
font-size:150%;
font:Arial Black, sans-serif;
color:#6f6f6f;
width:160px;
text-align:center;
padding:7px;
text-decoration:underline;
background-color:#1e1e1e;
text-transform:uppercase;
}
img {
    max-width: 200px;
    height: auto;
    margin: auto;
}
</style>